<% edit_link = edit_city_path(id: city.id) %>
<% delete_link = city_path(id: city.id) %>

<tr id="tr_city_<%= city.id %>">
  
  <td class="text-align-center"><%= city.id %></td>
  <td class="text-align-left"><%= link_to city.name, pattana.city_path(city), remote: true %></td>

  <td class="text-align-center"><%= city.region.name if city.region %></td>
  <td class="text-align-center"><%= city.country.name if city.country %></td>
  <td  class="text-align-center"><%= city.priority %></td>
  <td  class="text-align-center"><%= city.display_show_in_api %></td>
  
  <td class="action-links text-align-center" style="width:10%">
    <% if city.show_in_api? %>
      <%= link_to raw("<i class=\"fa fa-square mr-5\"></i> Hide in API"), hide_in_api_city_path(:id =>city.id), :remote=>true, role: "menuitem", tabindex: "-1", style: "text-align:left;", class: "delete" %>
    <% else %>
      <%= link_to raw("<i class=\"fa fa-square mr-5\"></i> Show in API"), show_in_api_city_path(:id =>city.id), :remote=>true, role: "menuitem", tabindex: "-1", style: "text-align:left;", class: "edit" %>
    <% end %>

    <% if city.operational? %>
      <%= link_to raw("<i class=\"fa fa-square mr-5\"></i> Remove Operational"), remove_operational_city_path(:id =>city.id), :remote=>true, role: "menuitem", tabindex: "-1", style: "text-align:left;", class: "delete" %>
    <% else %>
      <%= link_to raw("<i class=\"fa fa-square mr-5\"></i> Mark as Operational"), mark_as_operational_city_path(:id =>city.id), :remote=>true, role: "menuitem", tabindex: "-1", style: "text-align:left;", class: "edit" %>
    <% end %>
  </td>

  <td class="action-links text-align-center" style="width:10%">
    <%= link_to raw("<i class=\"linecons-pencil\"></i> Edit City"), edit_link, :remote=>true, class: "edit" %>

    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" %>
  </td>
</tr>