<div id="div_city_show">
  
  <div class="row">

    <div class="col-md-9 col-sm-12 col-xs-12" style="border-right:1px solid #f1f1f1;">

      <div class="visible-sm visible-xs mt-50"></div>

      <%= theme_panel_heading(@city.name) %>

      <%= theme_panel_sub_heading(@city.country.name, "#") if @city.country %><br>

      <% if @city.show_in_api? %>
        <div class="label label-success">Show In API</div>
      <% else %>
        <div class="label label-danger">Hide In API</div>
      <% end %>

      <% if @city.operational? %>
        <div class="label label-success">Operational</div>
      <% else %>
        <div class="label label-danger">Non Operational</div>
      <% end %>
      
      <%= clear_tag(10) %>
      
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">

      <% edit_link = edit_city_path(id: @city.id) %>
      <% delete_link = city_path(id: @city.id) %>

      <% if @city.show_in_api? %>
        <!-- Hide in API -->
        <%= link_to raw("<i class=\"fa fa-cloud mr-5\"></i> Hide in API"), hide_in_api_city_path(:id => @city.id), :remote=>true, class: "btn btn-block btn-danger btn-only-hover" %>
      <% else %>
        <!-- Show in API -->
        <%= link_to raw("<i class=\"fa fa-cloud-download mr-5\"></i> Show in API"), show_in_api_city_path(:id => @city.id), :remote=>true, class: "btn btn-block btn-success btn-only-hover" %>
      <% end %>

      <% if @city.operational? %>
        <!-- Hide in API -->
        <%= link_to raw("<i class=\"fa fa-toggle-off mr-5\"></i> Hide in API"), remove_operational_city_path(:id => @city.id), :remote=>true, class: "btn btn-block btn-danger btn-only-hover" %>
      <% else %>
        <!-- Show in API -->
        <%= link_to raw("<i class=\"fa fa-toggle-on mr-5\"></i> Show in API"), mark_as_operational_city_path(:id => @city.id), :remote=>true, class: "btn btn-block btn-success btn-only-hover" %>
      <% end %>

      <!-- Edit -->
      <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Edit"), edit_link, :remote=>true, class: "btn btn-block btn-white btn-only-hover" %>

      <!-- Delete -->
      <%= link_to raw("<i class=\"linecons-trash mr-5\"></i> Delete"), delete_link, method: :delete, :remote=>true, data: { confirm: 'Are you sure?' }, class: "btn btn-block btn-danger btn-only-hover" %>
      
      <div class="visible-sm visible-xs mb-50"></div>

    </div>

  </div>

  <%= clear_tag(50) %>

  <ul class="nav nav-pills">

    <li class="active">
      <a href="#city_details" data-toggle="tab" aria-expanded="false">
        <span class="visible-xs"><i class="fa-database"></i></span>
        <span class="hidden-xs">City Details</span>
      </a>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="city_details" style="border: 1px solid #000;min-height:200px;padding:20px;margin-bottom:20px;max-height: 400px;overflow-y: auto;">
      
      <%= clear_tag(20) %>

      <div class="table-responsive"> 
        <table class="table table-striped table-condensed table-bordered mb-30"> 
          <tbody>
            
            <tr>
              <th>ID</th><td><%= @city.id %></td>
              <th>Name</th><td><%= @city.name %></td>
            </tr>

            <tr>
              <th>Region</th><td><%= @city.region.name if @city.region %> (<%= @city.region.try(:id) %>)</td>
              <th>Country</th><td><%= @city.country.name if @city.country %> (<%= @city.country.try(:id) %>)</td>
            </tr>

            <tr>
              <th>Latitude</th><td><%= @city.latitude %></td>
              <th>Longitude</th><td><%= @city.longitude %></td>
            </tr>

            <tr>
              <th>Created At</th><td><%= @city.created_at.strftime("%m/%d/%Y - %H:%M:%S") if @city.created_at %></td>
              <th>Updated At</th><td><%= @city.updated_at.strftime("%m/%d/%Y - %H:%M:%S") if @city.updated_at %></td>
            </tr>

          </tbody>
        </table>
      </div>
      
    </div>

    <div class="tab-pane" id="technical_details">
      
      <%= clear_tag(20) %>

      <div class="table-responsive"> 
        <table class="table table-striped table-condensed table-bordered mb-30"> 
          <tbody>
            
            <tr>
              <th>ID</th><td><%= @city.id %></td>
              <th></th><td></td>
            </tr>

            

          </tbody>
        </table>
      </div>
    </div>

  </div>

  <%= link_to "Close", "#", onclick: "closeLargeModal();", class: "btn btn-primary pull-right" %>

  <%= clear_tag %>
</div>