<div class="row">
      
  <div class="col-md-12">
    
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">

        <div id="div_city_action_buttons">
          <div class="row">
            <div class="col-md-6">

              <%= theme_button('Refresh', 'refresh', pattana.cities_path(), classes: "pull-left", btn_type: "white") %>

            </div>
            <div class="col-md-6">
              <%= search_form_kuppayam(City, pattana.cities_path, text: @filters[:query]) %>
            </div>
          </div>
        </div>
        <%= clear_tag(10) %>

        <div id="div_city_index">
          <%= render :partial=>"pattana/cities/index" %>
        </div>
        <%= clear_tag(10) %>

      </div>
    </div>

  </div>

</div>