<div class="tabs-vertical-env">
  
  <%= render partial: "navigation" %>
  
  <div class="tab-content">
    <div class="tab-pane active" id="cities">
      
      <h3>
        <span class="text-success">Cities OTP</span><br>
        <small>POST: /api/v1/cities</small>
      </h3>

      <div class="panel-group panel-group-joined">
        <%= render partial: "api/v1/docs/cities/pos_case_1" %>
        <%= render partial: "api/v1/docs/cities/neg_case_1" %>
        <%= render partial: "api/v1/docs/cities/neg_case_2" %>
        <%= render partial: "api/v1/docs/cities/neg_case_3" %>
      </div>
    </div>
  </div>
</div>