<div class="sidebar-menu toggle-others fixed collapsed">
	
	<div class="sidebar-menu-inner">
		
		<header class="logo-env">
			
			<!-- logo -->
			<div class="logo">
				<a href="/" class="logo-expanded">
					<img src="/assets/logo.png" width="180" alt="" />
				</a>
				
				<a href="/" class="logo-collapsed">
					<img src="/assets/logo-small.png" width="40" alt="" />
				</a>
			</div>
			
			<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
			<div class="mobile-menu-toggle visible-xs">
				<a href="#" data-toggle="user-info-menu">
					<i class="fa-bell-o"></i>
					<span class="badge badge-success">7</span>
				</a>
				
				<a href="#" data-toggle="mobile-menu">
					<i class="fa-bars"></i>
				</a>
			</div>
			
		</header>
		
		
		
		<ul id="main-menu" class="main-menu">
			
			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
			
			<!-- Admin Dashboard -->
			<li class="<%= nav_active?('admin/dashboard') ? 'active' : ''  %>">
				<%= link_to raw("<i class=\"linecons-desktop\"></i> <span class='title'>Dashboard</span>"), pattana.dashboard_path %>
			</li>

			<li class="">
				<a href="#">
					<i class="linecons-database"></i>
					<span class="title">Master Data</span>
				</a>

				<ul>
					<li class="<%= nav_class("pattana/countries") %>">
						<%= link_to raw("<i class=\"fa-flag-checkered\"></i> <span class='title'>Manage Countries</span>"), pattana.countries_url %>
					</li>

					<li class="<%= nav_class("pattana/regions") %>">
						<%= link_to raw("<i class=\"fa-globe\"></i> <span class='title'>Manage Regions</span>"), pattana.regions_url %>
					</li>

					<li class="<%= nav_class("pattana/cities") %>">
						<%= link_to raw("<i class=\"fa-map-marker\"></i> <span class='title'>Manage Cities</span>"), pattana.cities_url %>
					</li>
				</ul>

			</li>

			<!-- Documentation -->
			<li class="<%= nav_active?('docs/index') ? 'active' : ''  %>">
				<a href="/docs/api/v1/countries">
		      <i class="fa-file-code-o"></i>
		      <span class="title">Documentation</span>
		    </a>
			</li>

		</ul>
		
	</div>
	
</div>