<% edit_link = edit_admin_country_path(id: country.id) %>
<% delete_link = admin_country_path(id: country.id) %>

<tr id="tr_country_<%= country.id %>">

  <td class="country-image">
    <%= link_to(admin_country_path(country), remote: true) do %>
      <%= display_image(country, "country_image.image.small.url", width: "32", height: "auto", class: "img-rectangle", alt: country.display_name) %>
    <% end %>
  </td>

  <td class="country-name"><%= link_to country.name, admin_country_path(country), remote: true %></td>

  <td>
    <% if country.unpublished? %>
      <span class="ml-5 mt-5 label label-default">Un-Published</span>
    <% elsif country.published? %>
      <span class="ml-5 mt-5 label label-success">Published</span>
    <% elsif country.disabled? %>
      <span class="ml-5 mt-5 label label-danger">Disabled</span>
    <% end %>
  </td>

  <td class="action-links" style="width:10%">

    <% case country.status %>
    <% when "published" %>
      <!-- Un-Publish -->
      <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Un-Publish"), update_status_admin_country_path(:id =>country.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"country_status" %>
      
      <!-- Disable -->
      <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Disable"), update_status_admin_country_path(:id =>country.id, :status =>'disabled'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"country_status" %>
    <% when "unpublished" %>
      <!-- Approve -->
      <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Publish"), update_status_admin_country_path(:id =>country.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"country_status" %>
      <!-- Disable -->
      <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Disable"), update_status_admin_country_path(:id =>country.id, :status =>'disabled'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"country_status" %>
    <% when "disabled" %>
      <!-- Un-Publish -->
      <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Un-Publish"), update_status_admin_country_path(:id =>country.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"country_status" %>
      <!-- Approve -->
      <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Publish"), update_status_admin_country_path(:id =>country.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1",:class=>"country_status" %>
    <% end %>

  </td>

  <td class="action-links" style="width:10%">

    <%= link_to raw("<i class=\"linecons-pencil\"></i> Edit Country"), edit_link, :remote=>true, class: "edit" %>

    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" %>

  </td>

</tr>