<div class="row">
      
  <div class="col-md-12">
    
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">

        <div id="div_country_action_buttons">
          <div class="row">
            <div class="col-md-6">

              <%= theme_button('Refresh', 'refresh', pattana.countries_path(), classes: "pull-left mr-10", btn_type: "white") %>
              
              <% @filter_ui_settings.each do |filter_name, options| %>
                <% if options[:object_filter] == true %>
                  <%= report_object_filter(filter_name, options) %>
                <% else %>
                  <%= report_filter(filter_name, options) %>
                <% end %>
              <% end %>
            
            </div>
            <div class="col-md-6">
              <%= search_form_kuppayam(Country, pattana.countries_path, text: @filters[:query]) %>
            </div>
          </div>
        </div>
        <%= clear_tag(10) %>

        <div id="div_country_index">
          <%= render :partial=>"pattana/countries/index" %>
        </div>
        <%= clear_tag(10) %>

      </div>
    </div>

  </div>

</div>