<%
	items = {
		countries: {
			counts: {
				total: Country.count,
				show_in_api: Country.show_in_api.count
			},
			text: "Countries",
			icon_class: "fa-flag-checkered",
			url: countries_url
		},
		regions: {
			counts: {
				total: Region.count,
				show_in_api: Region.show_in_api.count
			},
			text: "Regions",
			icon_class: "fa-globe",
			url: regions_url
		},
		cities: {
			counts: {
				total: City.count,
				show_in_api: City.show_in_api.count
			},
			text: "Cities",
			icon_class: "fa-map-marker",
			url: cities_url
		},
		
	}
%>
<div class="row">

	<% items.each do |key, values| %>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		
		<div class="xe-widget xe-vertical-counter xe-vertical-counter-white" data-count=".num" data-from="0" data-to="128" data-duration="4">
			<div class="xe-icon">
				<i class="<%= values[:icon_class] %>"></i>
			</div>
			
			<div class="xe-label">
				<strong class="num"><%= values[:text] %></strong>
			</div>

			<div class="xe-label" style="margin-top:10px; margin-bottom: 10px;height: 100px; overflow-y: auto;">
				<% values[:counts].each do |count_text, count_value| %>
				<span><%= count_text.to_s.titleize %>: <strong><%= count_value %></strong></span>
				<% end %>
			</div>

			<div class="xe-label">
				<span><%= link_to("Manage", values[:url], class: "btn btn-sm btn-primary btn-block") %></span>
			</div>
		</div>
		
	</div>
	<% end %>
	
</div>

<div style="border-top:1px solid #FFF;margin-top:50px;margin-bottom:70px;"></div>