<% edit_link = edit_city_path(id: city.id) %>
<% delete_link = city_path(id: city.id) %>

<tr id="tr_city_<%= city.id %>">
          
  <th scope="row" style="text-align:center;width:5%;">
    <% if i < 0 %>
      <i class="fa fa-check text-success"></i>
    <% else %>
      <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
    <% end %>
  </th>

  <td class="city-name" style="text-align:center;width:50%;"><%= city.display_name %></td>

  <td class="city-name" style="text-align:center;width:15%;"><%= city.iso_code %></td>

  <td class="city-name" style="text-align:center;width:15%;"><%= city.priority %></td>

  <td class="city-name" style="text-align:center;width:15%;"><%= city.display_show_in_api %></td>

  <td class="action-links text-align-center" style="width:10%">
    <% if city.show_in_api? %>
      <%= link_to raw("<i class=\"fa fa-square mr-5\"></i> Hide in API"), hide_in_api_city_path(:id =>city.id), :remote=>true, role: "menuitem", tabindex: "-1", style: "text-align:left;", class: "delete" %>
    <% else %>
      <%= link_to raw("<i class=\"fa fa-square mr-5\"></i> Show in API"), show_in_api_city_path(:id =>city.id), :remote=>true, role: "menuitem", tabindex: "-1", style: "text-align:left;", class: "edit" %>
    <% end %>

    <% if city.operational? %>
      <%= link_to raw("<i class=\"fa fa-square mr-5\"></i> Remove Operational"), remove_operational_city_path(:id =>city.id), :remote=>true, role: "menuitem", tabindex: "-1", style: "text-align:left;", class: "delete" %>
    <% else %>
      <%= link_to raw("<i class=\"fa fa-square mr-5\"></i> Mark as Operational"), mark_as_operational_city_path(:id =>city.id), :remote=>true, role: "menuitem", tabindex: "-1", style: "text-align:left;", class: "edit" %>
    <% end %>
  </td>

  <td class="action-links text-align-center" style="width:10%">
    <%= link_to raw("<i class=\"linecons-pencil\"></i> Edit City"), edit_link, :remote=>true, class: "edit" %>

    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" %>
  </td>

</tr>