<tr id="tr_region_<%= region.id %>">
          
  <th scope="row" class="text-align-center">
    <% if i < 0 %>
      <i class="fa fa-check text-success"></i>
    <% else %>
      <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
    <% end %>
  </th>

  <td class="text-align-left"><%= region.display_name %></td>
  <td class="text-align-center"><%= region.iso_code %></td>
  <td class="text-align-center"><%= region.priority %></td>
  <td class="text-align-center"><%= region.display_show_in_api %></td>
  <td class="text-align-center"><%= region.display_operational %></td>

</tr>